@model TestSystem.Models.RunsModels.RunResultsViewModel

@{
    ViewBag.Title = "RunResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Run #@Html.DisplayFor(model => model.RunNumber) results </h2>

<div>
    <h4>No roc-curve calculation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RunNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlgorithmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlgorithmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ratio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ratio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRuns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRuns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectRate)
        </dd>  
        
    </dl>
</div>
<p>@Html.ActionLink("To runs list", "AllRuns")</p>
