@model TestSystem.Models.RunsModels.RunDetailsViewModel

@{
    ViewBag.Title = "CreateTestRun";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<h2>Create test run</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Please, choose algorithm and test set</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TestName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="TestName" name="TestName" class="form-control" />
                <p class="text-info">(Max 30 symbols allowed)</p>
                @Html.ValidationMessageFor(model => model.TestName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlgorithmName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="AlgorithmName" name="AlgorithmName" class="form-control" />
                <p class="text-info">(Max 30 symbols allowed)</p>
                @Html.ValidationMessageFor(model => model.AlgorithmName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"> 
            @Html.HiddenFor(model => model.Ratio)
            <label class="control-label col-md-2">Train-test ratio</label>
            <div class="col-md-10">
                <select class="form-control" id="selectRatio" onchange="selectBoxChanged()">
                    <option>10/90</option>
                    <option>20/80</option>
                    <option>30/70</option>
                    <option>40/60</option>
                    <option>50/50</option>
                </select>
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RocCurveRequired, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class=" col-md-10">
                    <input id="checkbox1" type="checkbox"
                           class="checkbox" name="checkbox1" onclick="checkboxChanged()">
                    <input id="RocCurveRequired" name="RocCurveRequired" hidden />
                    <p class="text-info">(Require from 15 to 40 runs with variation of threshold value.)</p>
                </div>
            </div>

            <div class="form-group" id="rerunsInfo">
                <b class="control-label col-md-2">Number of re-runs</b>
                <div class="col-md-10">
                    <input id="RunsNumber" name="RunsNumber" class="form-control" />
                    <p class="text-danger">@ViewBag.Rerun</p>
                    <p class="text-info">
                        (Don't include inital run here. Only times of re-teaching and re-runing
                        test from the beggining. Maximum allowed 40. E.g. 20 re-runs + 1 intial run = 21 results uploaded to system.)
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Next" class="btn btn-info" />
                </div>
            </div>
        </div>
}

<script>
    $(function () {
        selectBoxChanged();
        $("#TestName").autocomplete({
            autoFocus: true,
            source: "/DataProvider/AutocompleteTestName"
        })
        $("#AlgorithmName").autocomplete({
            autoFocus: true,
            source: "/DataProvider/AutocompleteAlgName"
        })
    })
    function checkboxChanged() {
        if ($("#checkbox1")[0].checked == true) {
            document.getElementById("rerunsInfo").style.display = 'none';
            $("#RunsNumber").val("-");
            $("#RocCurveRequired").val("true");
        }
        else {
            document.getElementById("rerunsInfo").style.display = 'block';
            $("#RunsNumber").val("");
            $("#RocCurveRequired").val("false");
        } 
    }
    function selectBoxChanged() {
        $("#Ratio").val($("#selectRatio").val())
    }

</script>


