@model TestSystem.Models.RunsModels.UploadResultViewModel

@{
    ViewBag.Title = "Test run status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test run status</h2>
@using (Html.BeginForm("UploadResultsFile", "Runs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RunNumber)
                @Html.HiddenFor(model => model.RunNumber)
            </dt>

            <dd>
                <p>@Html.DisplayFor(model => model.RunNumber)</p>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TestName)
                @Html.HiddenFor(model => model.TestName)
            </dt>

            <dd>
                <p id="testName">@Html.DisplayFor(model => model.TestName)</p>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AlgorithmName)
                @Html.HiddenFor(model => model.AlgorithmName)
            </dt>

            <dd>
                <p>@Html.DisplayFor(model => model.AlgorithmName)</p>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RocCalc)
                @Html.HiddenFor(model => model.RocCalc)
            </dt>

            <dd>
                <p>@Html.DisplayFor(model => model.RocCalc)</p>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RepeatNumber)
                @Html.HiddenFor(model => model.RepeatNumber)
            </dt>

            <dd>
                <p>@Html.DisplayFor(model => model.RepeatNumber)</p>
            </dd>

        </dl>

        <div style="margin-left : 10%">
            <a id="download" class="btn btn-primary"
               href="DownloadTestFile?testName=" download>Download test file</a>
        </div>

        <div class="panel panel-success" style="margin-top : 20px">
            <div class="panel-heading">
                <h3 class="panel-title">Upload test results</h3>
            </div>
            <div class="panel-body">               
                <div class="col-md-10">
                    <p>@Html.ValidationMessage("FileFormatException")</p>
                    <input type="file" name="file"
                           id="file" value="Upload results" />
                    <p>@Html.ValidationMessage("CustomError")</p>
                </div>
                <div class="col-md-10" id="rocDiv">
                    <p>Roc-curve class number</p>
                    <input name="RocClassNumber" id="RocClassNumber" />
                    <p>@Html.ValidationMessage("CustomErrorRoc")</p>
                    <p class="text-warning">For roc-curve calculation you should specify class number that will be used to set positive hit. </p>
                </div>
                <div class="col-md-10" style="margin-top: 10px">
                    <input type="submit" value="Upload" id="upload" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        if ($("#RocCalc").val() != "yes") {
            document.getElementById("rocDiv").style.display = 'none';
        }
        var testName = $("#testName").text();
        var newValue = $("#download").attr("href") + testName;
        $("#download").attr("href", newValue)
    });
</script>


